/* Animations */

@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}
@keyframes spin2 {
  0%   { transform: rotate(150deg); }
  100% { transform: rotate(330deg); }
}

html,body{
			height:100vh;
			margin:0;
			padding:0;
			background: #00d2ff;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		.icon{
			font-size:25px;
			position: relative;
			top: 3px;
		}
		.ion-minus-circled{
			right: 17px;
		}
		.ion-plus-circled{
			top: 3px;
			right: 7px;
		}
		.container{
			display:flex;
			justify-content:flex-start;
			align-items: center;
			flex-direction:column;
			padding: 0px 60px;
		}
		header{
			color: white;
			font-size: 3em;
			font-family: 'Baloo';
			margin-top: 40px;
		}
		section#app{
			display:flex;
			justify-content:flex-start;
			align-items:center;
			flex-direction: column;
			position:relative;
			background:white;
			text-align:center;
			margin-top: 40px;
			margin-bottom: 80px;
			padding:40px;
			border-radius: 2px;
			box-shadow: 0 2px 8px rgba(0,0,0,.33);
			min-height: 400px;
			height: auto;
		}
		button{
			font-family:'Baloo';
			cursor:pointer;
			background:#13B7F2;
			color:white;
			font-weight:bold;
			font-size:15px;
			height:50px;
			width:200px;
			border:none;
			border-radius:2px;
			margin-bottom:40px;
			outline:none;
		}
		button#new-word-button:hover{
			transform:scale(1.02);
		}
		.add-remove-players{
			margin-bottom: 40px;
			display:flex;
			width: 480px;
			justify-content: space-around;
			margin-top: 20px;
		}
		button#add-player-button,button#remove-player-button{
			margin-bottom:0;
		}
		button#add-player-button{
			background:mediumseagreen;
		}
		button#remove-player-button{
			background: indianred;
		}
		.inputs-container{
			height:auto;
		}
		.word-inputs{
			display:flex;
			justify-content:center;
			margin-bottom:20px;
		}
					
		input[type="text"]{
			font-family:'Baloo';
			height:50px;
			width:200px;
			padding:0px 20px;
			font-size:18px;
			border:1px solid rgb(220,220,220);
		}
		input[type="text"]:focus{
			outline:2px solid #13B7F2;
		}
		p.random-word{
			font-family:'Baloo';
			margin:0;
			display:inline-block;
			height:50px;
			line-height:50px;
			font-weight:bold;
			font-size:24px;
			width:160px;
			margin:0px 20px;
			text-align:center;
			border-bottom:1px dashed rgb(220,220,220);
		}
		button#go-button{

		}
		.visible-iframe{
			display: none;
			position: relative;
			width: 510px;
			height:230px;
			align-items: center;
			justify-content: center;
			overflow:hidden;
			/* border: 2px solid; */
			margin-bottom: 90px;
		}
		iframe{
			width:680px;
			height:530px;
			position:absolute;
			top: -60px;
			left: -2px;
		}
		.disabled{
			opacity:0.5;
			cursor:not-allowed;
		}
		.active{
			opacity:1;
			cursor:default;
		}

		@media(max-width:850px){
			header{
				font-size:24px;
			}
			p.random-word{
				width:200px;
			}
			.add-remove-players{
				flex-direction:column;
				width:200px;
				height:120px;
			}
			.word-inputs{
				flex-direction:column;
			}
		}
		@media(max-width:500px){
			section#app{
				width: 100%;
			}
		}